<!DOCTYPE html>
<html>
<head>
	<title>Children</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/maindashboard/header.css">
    <link rel="stylesheet" href="../../../assets/css/maindashboard/footer.css">
    <link rel="stylesheet" href="../../../assets/css/patientdashboard.css">
    <link rel="stylesheet" href="../../../assets/css/demographics-header.css">
    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../..assets/js/moment.js"></script>

    <! -- ...................... -->
    <link rel="stylesheet" href="../../assets/css/datatables/fixedHeader.dataTables.min.css" type="text/css">
    <link rel="stylesheet" href="../../assets/css/datatables/jquery.dataTables.min.css" type="text/css">

    <script type="text/javascript" src="../../assets/js/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../../assets/js/datatables/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="../../assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../assets/js/medication.history.js"></script>
    <! -- ...................... -->
</head>
<body>

<div class="container">
 <div class="panel panel-default" style="border-color:#fff;">
<!--   <div class="panel-heading"><h2 style="color:#6281a7;text-align: center; font-weight: 600;">Current Statistics</h2>
</div> -->
  <div class="panel-body">


<div class="alert alert-warning alert-dismissible" role="alert" style="background-color: #d4d4d4;color: #000000;border-color: #d4d4d4;">
  <strong>Update Outcome!</strong> <br> Outcome, Delivered, Procedure done,Outcome, Delivered, Procedure done,
</div>
<div class="alert alert-warning alert-dismissible" role="alert" style="background-color: #fff;color: #000000;border-color: #d4d4d4;">
  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span><strong>Social History!</strong> <br> education, Outcome, Delivered, Procedure done,Outcome, Delivered, Procedure done,
</div>
<div class="alert alert-warning alert-dismissible" role="alert" style="background-color: #d4d4d4;color: #000000;border-color: #d4d4d4;">
  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
  <strong>Admission Examinations!</strong> Still on beta stage,Outcome, Delivered, Procedure done,Outcome, Delivered, Procedure done.
</div>
<div class="alert alert-warning alert-dismissible" role="alert" style="background-color: #fff;color: #000000;border-color: #d4d4d4;">
  <strong>Details!</strong> Still on beta stage.Outcome, Delivered, Procedure done,Outcome, Delivered, Procedure done,
</div>

  </div>
</div>
 
</div>

</body>
</html>