
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}

#clearButton {
  display: none;
}

</style>

<script>

var patientID = sessionStorage.getItem("patientID");
var programID = sessionStorage.getItem("programID");
var tt_cancel_destination = "/";
var apiProtocol = sessionStorage.apiProtocol;
var apiURL = sessionStorage.apiURL;
var apiPort = sessionStorage.apiPort;
var patient_id = sessionStorage.patientID;
var previousActivities = null;
function getActivities(){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/user_properties?property=activities';
  var req = new XMLHttpRequest();
  req.onreadystatechange = function(){

  if (this.readyState == 4) {
    if (this.status == 200) {
      var results = JSON.parse(this.responseText);
        previousActivities = results.property_value;
        loadActivities(previousActivities);
    }else {

        loadActivities("");
    }
    }
    };
    try {
      req.open('GET', url, true);
      req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
      req.send(null);
    } catch (e) {
    
    }
}

function loadActivities(previousActivities) {
  var activities = [];
  jQuery.getJSON("/apps/MATERNITY/application.json")
    .done(function (data) {
      activities = data.activities.tasks;
      renderActivities(activities, previousActivities);

    })
    .fail(function () {
      console.log("The application " + applicationName + "'s application.json file is not available");
  });

}
/*
<li id="0" tstvalue="vitals" class="even" tag="even" onmousedown="" onclick="null; updateTouchscreenInputForSelect(__$('optionValue' + this.id), this); " style=""><div style="display: table; border-spacing: 0px;"><div style="display: table-row"><div style="display: table-cell;"><img id="img0" src="/public/touchscreentoolkit/lib/images/unticked.jpg" alt="[ ]"></div><div style="display: table-cell; vertical-align: middle; text-align: left; padding-left: 15px;" id="optionValue0">Vitals</div></div></div></li
*/

function renderActivities(activities, previousActivities) {
  var ul = document.getElementById("tt_currentUnorderedListOptions");
  for(var i = 0 ; i < activities.sort().length ; i++){
    var innerHTML = '<div style="display: table; border-spacing: 0px;"><div style="display: table-row"><div style="display: table-cell;"><img id="img';
    innerHTML += i + '" src="/public/touchscreentoolkit/lib/images/unticked.jpg" alt="[ ]"></div><div style="display: table-cell; vertical-align: middle; text-align: left; padding-left: 15px;"';
    innerHTML += ' id="optionValue' + i + '">';
    innerHTML+= activities[i][0] + "</div></div></div>";
    
    var li = document.createElement("li");
    li.setAttribute("id", i );
    li.setAttribute("tstvalue", activities[i][1]);
    li.setAttribute("onmousedown", "null; updateTouchscreenInputForSelect(__$('optionValue' + this.id), this); ");
    li.setAttribute("style","");
    li.setAttribute("class","even");
    li.innerHTML = innerHTML;
    ul.appendChild(li); 
     if(previousActivities.search(activities[i][0]) >= 0) {
      updateInputs(i);
    }
  } 
}

function updateInputs(i) {
  updateTouchscreenInputForSelect(__$('optionValue' + i), document.getElementById(i)); 
}
// function changeNextBTN() {
//   var nextBTN = document.getElementById("nextButton");
//   nextButton.setAttribute("onmousedown","setActivities();");

// }

function setActivities() {
  var values = document.getElementById("touchscreenInput0").value;
  if(isEmpty(values))
    return;

  var regex = new RegExp(";", "g");
  values = values.replace(regex, ",");

  var parameters = { property: "Activities", property_value: values }

  submitParameters(parameters, "/user_properties", "redirectTo"); 
  
}

function redirectTo(obj) {
  sessionStorage.setItem("userActivities", obj.property_value);
  document.location = "/";
}

function isEmpty(str){
  try {
    return (str.replace(/\s+/g, '').length < 1);
  }catch(e){
    return true;
  }
}

</script>

<script type="text/javascript">
    var timedEvent;

   function checkHIVTestDate(){
    if($("hiv_status_value").value == "Reactive"){
      return "false";
    }
    
    var hiv_test_date_str = $("hiv_test_date").value.replace(/-/g, '/');
    var hiv_test_date     = new Date(hiv_test_date_str);
    var today             = new Date(Date.now());

    var weeks_ago = parseInt((today.getTime()- hiv_test_date.getTime())/ (1000 * 60 * 60 * 24 * 7));
   
    if (weeks_ago > 12){
      dispatchMessage("Patient needs to be tested again", tstMessageBoxType.OKOnly);
      return "true";
    }
    return "false";
  }

  function checkHIVTestUnkown(){
    if($("hiv_status_value").value.toLowerCase() == "unknown"){

      showMessage("Patient needs to be tested now!", true);
      return true;
    }
    return false;
  }

  // Every 500 milliseconds update the Next/Finish button
  function updateNextFinish(){
    if (tstInputTarget.value == '')
      $('nextButton').innerHTML = '<span>Finish</span>';
    else
      $('nextButton').innerHTML = '<span>Next</span>';
    setTimeout(updateNextFinish, 500)
  }

  function calculateEDOD(){
    var edod = "";
    var month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    
    if(!$('expected_date_of_delivery')){
      var div = document.createElement("div");
      div.id = "expected_date_of_delivery";
      div.className = "statusLabel";

      $("inputFrame" + tstCurrentPage).appendChild(div);
    }

    if($("touchscreenInput" + tstCurrentPage).value.trim().length > 0){
      var theDate = new Date($("touchscreenInput" + tstCurrentPage).value.trim());

      theDate.setDate(theDate.getDate() + 7);

      theDate.setMonth(theDate.getMonth() + 9);

      edod = (theDate.getDate() + "-" + month[theDate.getMonth()] + "-" + theDate.getFullYear());
    }

    $("expected_date_of_delivery").innerHTML = "Expected Date Of Delivery: <i style='font-size: 1.2em; float: right;'>" + edod + "</i>";
    
    timedEvent = setTimeout('calculateEDOD()', 500);
  }

  function calculateBP(pos){
    var bp;
    
    if(!$('bp')){
      var div = document.createElement("div");
      div.id = "bp";
      div.className = "statusLabel";

      $("inputFrame" + tstCurrentPage).appendChild(div);
    }

    if(pos == 1){
      bp = ($("touchscreenInput" + tstCurrentPage).value.trim().length > 0 ? $("touchscreenInput" +
        tstCurrentPage).value.trim() : "?") +
        "/" + ($("diastolic_blood_pressure").value.trim().length > 0 ? $("diastolic_blood_pressure").value.trim() : "?");
    } else if(pos == 2){
      bp = ($("systolic_blood_pressure").value.trim().length > 0 ? $("systolic_blood_pressure").value.trim() : "?") +
        "/" + ($("touchscreenInput" + tstCurrentPage).value.trim().length > 0 ? $("touchscreenInput" +
        tstCurrentPage).value.trim() : "?");
    }
    
    $("bp").innerHTML = "Blood Pressure: <i style='font-size: 1.2em; float: right;'>" + bp + "</i>";

    timedEvent = setTimeout('calculateBP(' + pos + ')', 500);
  }
  function isValidDateFormat(value){
    return value.trim().match(/(\d{4})\-(\d{2})\-(\d{2})\s(\d{2})\:(\d{2})/);
  }
  function createDate(value){
    var d = isValidDateFormat(value);
    if(d){
      return new Date(eval(d[1]),(eval(d[2])-1),eval(d[3]),eval(d[4]),eval(d[5]));
    } else {
      return new Date();
    }
  }  
  function calculatePeriodOnARVs(){
    var periodOnARVs = 0;
    var date_started = $("touchscreenInput" + tstCurrentPage).value.trim() + " 00:00"
    var one_month = 1000*60*60*24*30;
    var date = createDate(date_started);
    var today = new Date();   
    var periodOnARVs = Math.round(Math.abs(today - date)/one_month);
    //feed a value as a patient selection
    // $("period_on_arvs").value = periodOnARVs;
    return periodOnARVs;
  }
  function showPeriodOnARVs(){
    if(!$('arv_period')){
      var div = document.createElement("div"); 
      div.id = "arv_period";
      div.className = "statusLabel";
      $("inputFrame" + tstCurrentPage).appendChild(div);
    }
   
    $('arv_period').innerHTML = "<i style='font-size: 1.2em;float: left;'> Period On ARVs    </i> "
      +  "<i style='font-size: 1.2em;float: right;'>" + calculatePeriodOnARVs() + ((calculatePeriodOnARVs() == 1)? " Month</i>" : " Months</i>")

    //timedEvent = self.setTimeout(function(){showPeriodOnARVs()}, 100);
  }
</script>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form action="../../../../views/patient_dashboard.html">

        <select id="hiv_status_value" name="pmtct_activities" tt_onLoad="changeNextBTN();" helpText="PMTCT Status"> 
          <option>Non-Reactive</option>
          <option>Reactive</option>
          <option>Unknown</option>
        </select>

        <input type="text" name="pmtct" id="pmtct" helpText="PMTCT test date" field_type="number" tt_onLoad="setAbsoluteMaxBirthYear()" condition ="$('hiv_status_value').value.toLowerCase() != 'unknown'" tt_pageStyleClass="date" />

      

        <select id="on_arvs" name="pmtct_activities" tt_onLoad="changeNextBTN();" helpText="On ARVs" condition = "$('hiv_status_value').value.trim().toUpperCase() == 'REACTIVE';"> 
          <option>Yes</option>
          <option>No</option>
        </select>

         <input type="text" name="pmtct" id="period_on_arvs" helpText="Date Started ARVs (Estimate)" field_type="number" tt_onLoad="setAbsoluteMaxBirthYear()" condition ="$('on_arvs').value.trim().toUpperCase() == 'YES';" tt_onLoad = "showPeriodOnARVs();" tt_pageStyleClass="date" tt_onUnLoad = "window.clearInterval(timedEvent);"/>

          <select id="feeding_option" name="pmtct_activities" tt_onLoad="changeNextBTN();" helpText="Feeding Option" condition = "$('hiv_status_value').value.trim().toUpperCase() == 'REACTIVE';"> 
          <option>Exclusive Breast Feeding</option>
          <option>No Breast Feeding</option>
          <option>Exclusive Formula Feeding</option>
        </select>


      </form>

   </div>
 </div>
</body>

