
<!-- <script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
 --><!-- <link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css"> -->
<!-- <script type="text/javascript" src="/assets/js/post_parameters.js"></script>
 -->
<!--  <script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
 -->
<!--  <script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
 -->
<!--  <script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
 -->
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<style>

.inputFrameClass {
  width: 96% !important;
}

#clearButton {
  display: none;
}

</style>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form action="../../../../views/patient_dashboard.html">

        <select id="education" name="education" tt_onLoad="changeNextBTN();" helpText="Eductaion Level">   
            <option>Primary</option>
            <option>Secondary</option>
            <option>Tertiary</option>
            <option>None</option>
            <option>Other</option>
        </select>
          
         <input type="text" name="religion" 
          id="religion" field_type="alpha" 
          helpText="Religion" 
          ajaxURL="/search/?search_string=" 
          allowFreeText="true" 
          tt_onUnload="getInput();"
         /> 


        <input type="text" name="other_religion" id="other_religion" field_type="alpha"  tt_onLoad='otherReligion();' helpText="Specify other religion" key="family_name" allowFreeText="true" tt_onUnload="getInput();" condition ="__$('religion').value == 'Other'" />

         <input type="text" name="kin_first" 
         tt_onLoad="myInput()"
          id="kin_first" field_type="alpha" 
          key="kin_first" helpText="Next of kin first name"  
          ajaxURL="/search/kin_first?search_string=" 
          key=kin_first" allowFreeText="true" 
          condition="$(&quot;kin_first&quot;).value == &quot;&quot;" /> 

          <input type="text" name="kin_last" 
          id="kin_last" field_type="alpha" 
          helpText="Next of kin Last name" 
          ajaxURL="/search/?search_string=" 
          allowFreeText="true" 
          condition="$(&quot;kin_last&quot;).value == &quot;&quot;" /> 

          <input type="text" name="kin_number" id="kin_number" helpText="Next of kin phone number" field_type="number" tt_onLoad="setAbsoluteMaxBirthYear()" tt_pageStyleClass="Numeric NumbersOnly" validationRule="^0\\d{7}$|Unknown|Not Available|N\/A|^0\\d{9}$" validationMessage ="Not a valid phone number"  />

        <select id="relativee" name="relative" tt_onLoad="changeNextBTN();" helpText="Next of kin relationship"> 
          <option>Mother</option>
          <option>Daughter</option>
          <option>Sister</option>
          <option>Friend</option>
          <option>Aunt</option>
          <option>Unknown</option>
           <option>Other</option>
         </select>

         <input type="text" name="other_relative" id="other_relative" field_type="alpha"  tt_onLoad='otherReligion();' helpText="Specify other relative" key="family_name" allowFreeText="true" tt_onUnload="getInput();"condition ="__$('relative').value == 'Other'" />
      </form>

   </div>
 </div>
</body>

