
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}

#clearButton {
  display: none;
}

</style>

<script>

var patientID = sessionStorage.getItem("patientID");
var programID = sessionStorage.getItem("programID");
var tt_cancel_destination = "/";
var apiProtocol = sessionStorage.apiProtocol;
var apiURL = sessionStorage.apiURL;
var apiPort = sessionStorage.apiPort;
var patient_id = sessionStorage.patientID;
var previousActivities = null;
function getActivities(){
  var url = 'http://'+apiURL+':'+apiPort+'/api/v1/user_properties?property=activities';
  var req = new XMLHttpRequest();
  req.onreadystatechange = function(){

  if (this.readyState == 4) {
    if (this.status == 200) {
      var results = JSON.parse(this.responseText);
        previousActivities = results.property_value;
        loadActivities(previousActivities);
    }else {

        loadActivities("");
    }
    }
    };
    try {
      req.open('GET', url, true);
      req.setRequestHeader('Authorization',sessionStorage.getItem('authorization'));
      req.send(null);
    } catch (e) {
    
    }
}

function loadActivities(previousActivities) {
  var activities = [];
  jQuery.getJSON("/apps/ART/application.json")
    .done(function (data) {
      activities = data.activities.tasks;
      renderActivities(activities, previousActivities);

    })
    .fail(function () {
      console.log("The application " + applicationName + "'s application.json file is not available");
  });

}
/*
<li id="0" tstvalue="vitals" class="even" tag="even" onmousedown="" onclick="null; updateTouchscreenInputForSelect(__$('optionValue' + this.id), this); " style=""><div style="display: table; border-spacing: 0px;"><div style="display: table-row"><div style="display: table-cell;"><img id="img0" src="/public/touchscreentoolkit/lib/images/unticked.jpg" alt="[ ]"></div><div style="display: table-cell; vertical-align: middle; text-align: left; padding-left: 15px;" id="optionValue0">Vitals</div></div></div></li
*/

function renderActivities(activities, previousActivities) {
  var ul = document.getElementById("tt_currentUnorderedListOptions");
  for(var i = 0 ; i < activities.sort().length ; i++){
    var innerHTML = '<div style="display: table; border-spacing: 0px;"><div style="display: table-row"><div style="display: table-cell;"><img id="img';
    innerHTML += i + '" src="/public/touchscreentoolkit/lib/images/unticked.jpg" alt="[ ]"></div><div style="display: table-cell; vertical-align: middle; text-align: left; padding-left: 15px;"';
    innerHTML += ' id="optionValue' + i + '">';
    innerHTML+= activities[i][0] + "</div></div></div>";
    
    var li = document.createElement("li");
    li.setAttribute("id", i );
    li.setAttribute("tstvalue", activities[i][1]);
    li.setAttribute("onmousedown", "null; updateTouchscreenInputForSelect(__$('optionValue' + this.id), this); ");
    li.setAttribute("style","");
    li.setAttribute("class","even");
    li.innerHTML = innerHTML;
    ul.appendChild(li); 
     if(previousActivities.search(activities[i][0]) >= 0) {
      updateInputs(i);
    }
  } 
}

function updateInputs(i) {
  updateTouchscreenInputForSelect(__$('optionValue' + i), document.getElementById(i)); 
}
// function changeNextBTN() {
//   var nextBTN = document.getElementById("nextButton");
//   nextButton.setAttribute("onmousedown","setActivities();");

// }

function setActivities() {
  var values = document.getElementById("touchscreenInput0").value;
  if(isEmpty(values))
    return;

  var regex = new RegExp(";", "g");
  values = values.replace(regex, ",");

  var parameters = { property: "Activities", property_value: values }

  submitParameters(parameters, "/user_properties", "redirectTo"); 
  
}

function redirectTo(obj) {
  sessionStorage.setItem("userActivities", obj.property_value);
  document.location = "/";
}

function isEmpty(str){
  try {
    return (str.replace(/\s+/g, '').length < 1);
  }catch(e){
    return true;
  }
}

</script>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form action="../../../../views/patient_dashboard.html">

        <select id="discharge_outcome" name="discharge_outcome" tt_onLoad="changeNextBTN();" helpText="Outcome">   
            <option>Absconded</option>
            <option>Delivered</option>
            <option>Patient died</option>
        </select>
        
        <!-- <select id="discharged_to_where" name="discharged_to_where" tt_onLoad="changeNextBTN();" helpText="Discharged to Where?"
          condition = "__$('discharge_outcome').value == 'Absconded'"> 
            <option>Home- Waiting</option>
            <option>Another Health Facility</option>
        </select>
        <input type="text" name="health_facility" 
        id="health_facility" field_type="alpha" 
        key="health_facility" helpText="Which Health Facility"  
        ajaxURL="/search/location?search_string=" 
        key=health_facility" allowFreeText="true" 
        condition = "__$('discharged_to_where').value == 'Another Health Facility'" />  -->

        <input type="text" name="admission_section" 
        id="admission_section" field_type="alpha" 
        key="admission_section" helpText="Select Admission section"  
        ajaxURL="/search/admission_section?search_string=" 
        key=admission_section" allowFreeText="true" 
        condition = "($('discharge_outcome').value.toUpperCase() == 'ADMITTED')" /> 

        <select id="perineum" name="perineum" tt_onLoad="changeNextBTN();" 
        helpText="Perineum" condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED')"> 
            <option>Intact</option>
            <option>Tear</option>
            <option>Episotomy</option>
            <option>Laceration</option>
        </select>
        <select id="tear" name="tear" tt_onLoad="changeNextBTN();" 
        helpText="Tear Extent" condition ="($('perineum').value.toUpperCase() == 'TEAR')"> 
            <option>1<sup>o</sup>1 Degree</option>
            <option>2<sup>o</sup>2 Degrees</option>
            <option>3<sup>o</sup>3 Degrees</option>
            <option>4<sup>o</sup>4 Degrees</option>
        </select>
    
        <input type="text" name="admission_diagnosis" 
        id="admission_diagnosis" field_type="alpha" 
        key="admission_diagnosis" helpText="Select Discharge Diagnosis"  
        ajaxURL="/search/admission_diagnosis?search_string=" 
        key=presentation" allowFreeText="true" textCase ="upper"
        condition="($('discharge_outcome').value.toUpperCase() == 'DISCHARGED')" /> 

        <input type="text" name="next_diagnosis" 
        id="next_diagnosis" field_type="alpha" 
        key="next_diagnosis" helpText="Select Next Diagnosis"  
        ajaxURL="/search/next_diagnosis?search_string=" 
        key=presentation" allowFreeText="true" optional ="true"
        condition="($('discharge_outcome').value.toUpperCase() == 'DISCHARGED' && __$('diagnosis0').value != 'N/A')" /> 

        <!-- PROCEDURES -->

         <input type="text" name="procedure_done" 
          id="procedure_done" field_type="alpha" 
          key="procedure" helpText="1st Procedure done"  
          ajaxURL="/search/procedure?search_string=" 
          key=procedure" allowFreeText="true" 
          condition="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')" /> 

          <input type="text" name="procedure_diagnosis" 
          id="procedure_diagnosis" field_type="alpha" 
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'HYSTERECTOMY')" /> 

          <input type="text" name="procedure_diagnosis1" 
          id="procedure_diagnosis1" field_type="alpha" 
          helpText="Reason for Procedure" ajaxURL = "/encounters/procedure_diagnoses?procedure=biopsy&search_string="
          condition="$('procedure_done').value.toUpperCase() == 'BIOPSY DIAGNOSIS')" /> 

          <input type="text" name="procedure_diagnosis2" 
          id="procedure_diagnosis2" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=bilateral_tubal_ligation&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'BILATERAL TUBAL LIGATION')" /> 
        
          <input type="text" name="procedure_diagnosis3" 
          id="procedure_diagnosis3" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=ceclage&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'MYOMECTOMY')" /> 

          <input type="text" name="procedure_diagnosis4" 
          id="procedure_diagnosis4" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'CECLAGE')" /> 
        
          <input type="text" name="procedure_diagnosis5" 
          id="procedure_diagnosis5" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'CYSTECTOMY')" /> 

          <input type="text" name="procedure_diagnosis6" 
          id="procedure_diagnosis6" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'MARSUPILISATION')" /> 

          <input type="text" name="procedure_diagnosis7" 
          id="procedure_diagnosis7" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EXCISION')" /> 

          <input type="text" name="procedure_diagnosis7" 
          id="procedure_diagnosis7" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toLowerCase().trim().match('incision and drainage')" /> 

          <input type="text" name="procedure_diagnosis8" 
          id="procedure_diagnosis8" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'CAESAREAN SECTION')" /> 

          <input type="text" name="procedure_diagnosis8" 
          id="procedure_diagnosis8" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EXAM UNDER ANAESTHESIA')" /> 

          <input type="text" name="procedure_diagnosis9" 
          id="procedure_diagnosis8" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EVACUATION/MANUAL VACUUM ASPIRATION')" /> 

          <input type="text" name="procedure_diagnosis10" 
          id="procedure_diagnosis10" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'DILATION AND CURETTAGE')" /> 

          <input type="text" name="procedure_diagnosis11" 
          id="procedure_diagnosis11" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'EXPLORATORY LAPARATOMY ADNEXECTOMY')" /> 

          <input type="text" name="procedure_diagnosis11" 
          id="procedure_diagnosis11" field_type="alpha" 
          ajaxURL = "/encounters/procedure_diagnoses?procedure=myomectomy&search_string="
          helpText="Reason for Procedure" 
          condition="$('procedure_done').value.toUpperCase() == 'LAPARATOMY DIAGNOSIS')" /> 
          <!-- END PROCEDURES -->

          <!-- BABIE DETAILS -->
          <input type="text" name="num_babies" id="num_babie
          s" helpText="Number of babies" field_type="number" tt_onLoad=""
           tt_pageStyleClass="Numeric NumbersOnly" 
           condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')" />

           <input type="text" name="baby_outcome_name" 
           id="baby_outcome_name" value="Testing" field_type="alpha" 
           helpText="Baby Name" 
           condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')" /> 
         
           <input type="text" name="delivery_time" 
          id="delivery_time" value="Testing" field_type="advancedTime" 
          helpText="Baby Time of Delivery" 
          condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')" /> 

           <input type="text" name="delivery_date" 
          id="delivery_date" value="Testing" field_type="number" 
          helpText="Baby Date of Delivery" 
          tt_pageStyleClass="date" 
          condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')" /> 

         <select id="delivery_place" name="delivery_place" tt_onLoad="changeNextBTN();"
          helpText="Baby Place of Delivery" condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')"> 
          <option>This facility</option>
          <option>In transit</option>
          <option>Other facility</option>
          <option>Home/TBA</option>
         </select>

         <select id="baby_presentation" name="baby_presentation" tt_onLoad="changeNextBTN();" helpText="Baby Presentation" condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')"> 
          <option>Transverse</option>
          <option>Breech delivery</option>
          <option>Cephalic</option>
         </select>
         
          <select id="baby_presentation" name="baby_presentation" tt_onLoad="changeNextBTN();" helpText="Baby Presentation" condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')"> 
             <option>Spontaneous Delivery</option>
            <option>Casarean Section</option>
            <option>Breech Delivery</option>
            <option>Vacuum extraction delivery</option>
         </select>

           <select id="baby_sex" name="baby_sex" tt_onLoad="changeNextBTN();" helpText="Baby Sex" condition ="($('discharge_outcome').value.toUpperCase() == 'DELIVERED' || $('discharge_outcome').value.toUpperCase() == 'DISCHARGED')"> 
             <option>Male</option>
            <option>Female</option>
         </select>



      </form>

   </div>
 </div>
</body>

