
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!-- <script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script> -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/apps/ART/assets/js/arv_number.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>
    .apgar_btn:hover {
        border: 1px solid #5ca6c4;
        background-color: #82bbd1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#82bbd1), to(#193b61));
        background-image: -webkit-linear-gradient(top, #82bbd1, #193b61);
        background-image: -moz-linear-gradient(top, #82bbd1, #193b61);
        background-image: -ms-linear-gradient(top, #82bbd1, #193b61);
        background-image: -o-linear-gradient(top, #82bbd1, #193b61);
        background-image: linear-gradient(to bottom, #82bbd1, #193b61);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#82bbd1, endColorstr=#193b61);
    }

    .apgar_btn {
        border: 1px solid #7eb9d0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 28px;
        font-family: arial, helvetica, sans-serif;
        padding: 10px 15px 10px 15px;
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
        color: #FFFFFF;
        background-color: #a7cfdf;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
        background-image: -webkit-linear-gradient(top, #a7cfdf, #23538a);
        background-image: -moz-linear-gradient(top, #a7cfdf, #23538a);
        background-image: -ms-linear-gradient(top, #a7cfdf, #23538a);
        background-image: -o-linear-gradient(top, #a7cfdf, #23538a);
        background-image: linear-gradient(to bottom, #a7cfdf, #23538a);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#a7cfdf, endColorstr=#23538a);
    }

    .apgar_text {
        font-size: 28px;
    }

    .apgar_th {

    }
</style>

<script> 

function buildBabyApgar1Min(){
    var frame = document.getElementById('inputFrame' + tstCurrentPage);
    frame.style.height = "90%";

        var div_for_table = document.createElement('div');
        frame.appendChild(div_for_table);

        var div_table = document.createElement('table');
        div_table.style.height = '80%';
        div_table.style.width = '100%';
        div_for_table.appendChild(div_table);

            var points_cells = [
                ['&nbsp;','0 Points','1 Point','2 Points'],
                ['Color','Pale/blue','Baby pink/blue extremities','Completely pink'],
                ['Heart Rate','Absent','Slow - Below 100 bpm','Above 100 bpm'],
                ['Muscle Tone','Flaccid','Some flexion of Extremities','Active Motion'],
                ['Reflex Irritability','None','Grimance','Vigorous cry'],
                ['Respiratory Effort','Absent','Slow - irregular','Good crying']
            ];

            for(var i=0; i < points_cells.length; i++) {

                var div_points_row = document.createElement('tr');
                div_table.appendChild(div_points_row);

                for(var j=0; j < points_cells[i].length ; j++) {
                    var div_points_cell = document.createElement('td');
                    div_points_cell.innerHTML = points_cells[i][j];

                    if(i === 0 && j >= 0) {
                        div_points_cell.className = 'apgar_th apgar_text';
                    } else if(i >= 1 && j >= 1) {
                        div_points_cell.className = 'apgar_btn';
                        div_points_cell.style.border = '1px solid';
                    } else {
                        div_points_cell.className = 'apgar_text';
                        div_points_cell.style.border = '1px solid';
                    }


                    div_points_row.appendChild(div_points_cell);
                }

            } 

        var div_for_info = document.createElement('div');
        div_for_info.innerHTML = 'Info comes here.';
        div_for_info.style.border = '1px solid';
        div_for_info.style.height = '20%';
        frame.appendChild(div_for_info);      
}

function buildBabyApgar5Mins(){
    var frame = document.getElementById('inputFrame' + tstCurrentPage);
    frame.style.height = "90%";

    var div_for_table = document.createElement('div');
    frame.appendChild(div_for_table);

    var div_table = document.createElement('table');
    div_table.style.height = '80%';
    div_table.style.width = '100%';
    div_for_table.appendChild(div_table);

    var points_cells = [
        ['&nbsp;','0 Points','1 Point','2 Points'],
        ['Color','Pale/blue','Baby pink/blue extremities','Completely pink'],
        ['Heart Rate','Absent','Slow - Below 100 bpm','Above 100 bpm'],
        ['Muscle Tone','Flaccid','Some flexion of Extremities','Active Motion'],
        ['Reflex Irritability','None','Grimance','Vigorous cry'],
        ['Respiratory Effort','Absent','Slow - irregular','Good crying']
    ];

    for(var i=0; i < points_cells.length; i++) {

        var div_points_row = document.createElement('tr');
        div_table.appendChild(div_points_row);

        for(var j=0; j < points_cells[i].length ; j++) {
            var div_points_cell = document.createElement('td');
            div_points_cell.innerHTML = points_cells[i][j];

            if(i === 0 && j >= 0) {
                div_points_cell.className = 'apgar_th apgar_text';
            } else if(i >= 1 && j >= 1) {
                div_points_cell.className = 'apgar_btn';
                div_points_cell.style.border = '1px solid';
            } else {
                div_points_cell.className = 'apgar_text';
                div_points_cell.style.border = '1px solid';
            }


            div_points_row.appendChild(div_points_cell);
        }

    }

    var div_for_info = document.createElement('div');
    div_for_info.innerHTML = 'Info comes here.';
    div_for_info.style.border = '1px solid';
    div_for_info.style.height = '20%';
    frame.appendChild(div_for_info);
}
</script>



<body id="mateme">
    <div id="container">
        <div id="content">
            <form>
                <input type="text" name="summary"
                tt_onLoad="__$('keyboard').style.display = 'none'; buildBabyApgar1Min();"
                tt_pageStyleClass= "NoControls" helpText="Baby 1st Minute APGAR" optional = "true"/>
            </form>
        </div>
   </div>
</body>
  
  