
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/apgar.js"></script>

<link rel="stylesheet" href="/apps/MATERNITY/assets/css/apgar.css" type="text/css">
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>

<body id="mateme">
  <div id="container">
    <div id="content">

      <form>

          <input type="text" name="summary" id="apgar_one"
                 tt_onLoad="__$('keyboard').style.display = 'none'; buildBabyApgar('one');"
                 tt_pageStyleClass= "NoControls" helpText="Baby 1st Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

          <input type="text" name="summary" id="apgar_two"
                 tt_onLoad="__$('keyboard').style.display = 'none'; buildBabyApgar('five');"
                 tt_pageStyleClass= "NoControls" helpText="Baby 5th Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

      </form>

   </div>
 </div>
</body>

