
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/apgar.js"></script>

<link rel="stylesheet" href="/apps/MATERNITY/assets/css/apgar.css" type="text/css">
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>

<body id="mateme">
  <div id="container">
    <div id="content">


      <form action="../../../../views/patient_dashboard.html">
        <input type="text" name="number_babies" id="baby_num" helpText="Number of babies" field_type="number" tt_onLoad=""
        tt_pageStyleClass="Numeric NumbersOnly" 
        />
        <select id="baby_gender" name="baby_gender" helpText="Baby Sex"> 
                <option>Male</option>
               <option>Female</option>
     </select> 

       <input type="text" name="weight" id="weight" 
          helpText="Baby: Weight(Kg)" field_type="number" tt_onLoad = "timedEvent = self.setInterval(function(){weightAlert()}, 1000);" 
          tt_onUnload ="clearTimeout(timedEvent);"
          tt_pageStyleClass="unknownButton"/>

          <input type="text" name="baby_length" id="baby_length" 
          helpText="Baby: Length(CM)" field_type="number" tt_onLoad=""
          tt_pageStyleClass="Numeric NumbersOnlyWithDecimal" />

          <input type="text" name="summary" id="apgar_one"
                 tt_onLoad="__$('keyboard').style.display = 'none'; buildBabyApgar('one');"
                 tt_pageStyleClass= "NoControls" helpText="Baby 1st Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

          <input type="text" name="summary" id="apgar_two"
                 tt_onLoad="__$('keyboard').style.display = 'none'; buildBabyApgar('five');"
                 tt_pageStyleClass= "NoControls" helpText="Baby 5th Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

      </form>

   </div>
 </div>
</body>

