
<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>

<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<link rel="stylesheet" href="/apps/MATERNITY/assets/css/current_delivery.css" type="text/css"/>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/current_delivery.js"></script>
<style>

    .inputFrameClass {
        width: 96% !important;
    }

    .dateselector{
        min-height: 0px;
    }

    #timeselector{
        min-height: 0px;
    }

</style>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;
</script>

<body id="mateme">
<div id="container">
    <div id="content">
        <form id="has_dynamic_fields">

            <input id="number_babies" optional="true"
                helpText="Number of children"
                tt_onLoad="loadSelections();
                  jQuery('.dcimg').click(); showCategory2('Current delivery');" 
                name="number_babies"
              />

              <input name="baby_details" type="text"
              id="input_page" helptext="Baby details" 
              tt_onLoad="jQuery('#clearButton').css('display', 'none');parsedConceptName = ''; 
              loadInputWindow(); showCategory2('Current delivery'); "
              optional="true" />

        
            <select id="place_delivery" name="place_delivery" helpText="Place of delivery">
                <option></option>
                <option>Home</option>
                <option>Transit</option>
                <option>TBA</option>
                <option>Other</option>
            </select>

            <select id="birth_attended_by" name="birth_attended_by" tt_onLoad="changeSubmitFunction();" helpText="Birth attended by">
                <option></option>
                <option>Self</option>
                <option>TBA</option>
                <option>Other</option>
            </select>

        </form>

    </div>
</div>
</body>
