

<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>

<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<link rel="stylesheet" href="/apps/MATERNITY/assets/css/current_delivery.css" type="text/css"/>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/common.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/current_delivery.js"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/apgar.js" ></script>
<style type="text/css">
    #space { display:inline; font-size:1.2em; }
    #Unknown {display: none;}
    #num {display: none;}

    .n #Unknown{
        display: block;
    }
    #summary {
        padding:10px;
        font-size:1.8em;
    }
    #char {
        display: none;
    }
    .title {
        text-decoration:underline;
        margin-right:10px;
    }

    .red_alert {color:black;background:red;border:2px solid gray;}
    .yellow_alert {color:black;background:yellow;border:2px solid gray;}
    .normal {color:black;}

    #red_apgar_alert {
        background:red;
    }
    #yellow_apgar_alert {
        background:yellow;
    }
    #normal_apgar_alert, #red_apgar_alert, #yellow_apgar_alert {
        border-radius: 10px;
        -moz-user-select: none;
        height: 110px;
        color:black;
        width: 85%;
        border:2px solid gray;
        font-size: 30px;
        text-align: center;
        margin-left:auto;
        margin-right:auto;
        margin-top: 40px;
        vertical-align: middle;
    }
    #normal_apgar_alert{
        background-color: green;
    }

    #tt_page_summary .inputFrameClass { height: 84%;}

    #qwerty{ display:none; }

    .numericKeyboard #char, #slash, #star, #plus, #date, #minus, #comma, #percent {
        display: none;
    }

    #selectWindow{
        -moz-user-select: none;
        display: table;
        width: 85%;
        height:55%;
        border:1px solid #999999;
        align: center;
        border-spacing: 8px;
        margin-left:auto;
        margin-right:auto;
        border-radius: 10px;
        background: white;
        margin-top: 17px;
    }
    .butt{
        font-family: sans-serif;
        font-size:1.1em;
        font-weight: bold;
        -moz-border-radius: 5px;
        border-radius: 10px;
        display:table-cell;
        background: url('/assets/images/btn_blue.png');
        border:1px solid #999999;
        border-color:gray;
        color: white;
        vertical-align: middle;
        height: auto;
        width: auto;
        max-width: 73px;
        text-align: center;
    }
    .leftButt, .value{
        font-size:1.3em;
        border-radius: 4px;
        font-weight: bold;
        background: white;
        display:table-cell;
        border:1px solid #999999;
        height: auto;
        color: rgb(5, 30, 5);
        width: auto;
        vertical-align: middle;
        text-align: center;
        max-width: 73px;

    }
    .value{
        height: 40px;
        font-weight: bold;
    }
    .boardRow{
        display: table-row;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-spacing: 5px;
    }
    #row1{
        display: table-row;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-spacing: 5px 5px 5px 5px;
    }
    #alertsTable{
        -moz-user-select: none;
        display: table;
        border-radius: 4px;
        background: gray;
        border-spacing: 1px;
        width: 98%;
        height:auto;
        border:1px solid #999999;
        vertical-align: middle;
        margin-left:auto;
        margin-top: 12px;
        margin-right:auto;
        max-height: 99%;
        overflow: auto;
    }
    .alertsRow, .alertsHeaderRow{
        display: table-row;
        height: 65px !important;
    }
    .alertsTitle, .alertsHeader, .alertsCell{
        display: table-cell;
        border: solid 1px lightgray;
        font-size: 28px;
        vertical-align: middle;
        text-align: center;
        background: white;
    }
    .alertsHeader, .alertsTitle{
        font-weight: bold;
        text-align: center;
        background: white;
    }

</style>
<style>

    .inputFrameClass {
        width: 96% !important;
    }

    .dateselector{
        min-height: 0px;
    }

    #timeselector{
        min-height: 0px;
    }

</style>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;
</script>
<style>

    .time_btn{
        width:100px;
    }
    .time_input{
        width:100px;
    }
</style>
<body id="mateme">
<div id="container">
    <div id="content">
        <form id="has_dynamic_fields">

            <!-- Number of Babies -->
            <input id="number_babies" optional="true"
                   helpText="Number of Babies Born" tt_onUnload = "sessionStorage.setItem('numberOfBabies',document.getElementById('input_1').value);"
                   tt_onLoad="loadSelections(); jQuery('.dcimg').click();showCategory2('Current delivery');"
                   name="number_babies"
            />

            <!-- Details of the Babies -->
            <input name="baby_details" type="text"
                   id="input_page" helptext="Baby details"
                   tt_onLoad="assignNumberOfBabies();jQuery('#clearButton').css('display', 'none');parsedConceptName = '';
              loadInputWindow();showCategory2('Current delivery');"
                   optional="true" />

            <!-- Baby 1 Apgar -->
            <input type="text" name="summary" id="apgar_one"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(1,'one');showCategory2('Current delivery');"
                   tt_pageStyleClass= "NoControls" helpText="1<sup>st</sup> Baby: 1<sup>st</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

            <input type="text" name="summary" id="apgar_five"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(5,'five');showCategory2('Current delivery');"
                   tt_pageStyleClass= "NoControls" helpText="1<sup>st</sup> Baby: 5<sup>th</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

            <!-- Baby 2 Apgar -->
            <input type="text" name="summary" id="apgar_one_two"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(1,'one');showCategory2('Current delivery');" condition="(numberOfBabies == 2 || numberOfBabies == 3 || numberOfBabies == 4)"
                   tt_pageStyleClass= "NoControls" helpText="2<sup>nd</sup> Baby: 1<sup>st</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

            <input type="text" name="summary" id="apgar_five_two"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(5,'five');showCategory2('Current delivery');" condition="(numberOfBabies == 2 || numberOfBabies == 3 || numberOfBabies == 4)"
                   tt_pageStyleClass= "NoControls" helpText="2<sup>nd</sup> Baby: 5<sup>th</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

            <!-- Baby 3 Apgar -->
            <input type="text" name="summary" id="apgar_one_three"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(1,'one');showCategory2('Current delivery');" condition="(numberOfBabies == 3 || numberOfBabies == 4)"
                   tt_pageStyleClass= "NoControls" helpText="3<sup>rd</sup> Baby: 1<sup>st</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>


            <input type="text" name="summary" id="apgar_five_three"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(5,'five');showCategory2('Current delivery');" condition="(numberOfBabies == 3 || numberOfBabies == 4)"
                   tt_pageStyleClass= "NoControls" helpText="3<sup>rd</sup> Baby: 5<sup>th</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

            <!-- Baby 4 Apgar -->
            <input type="text" name="summary" id="apgar_one_four"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(1,'one');showCategory2('Current delivery');" condition="(numberOfBabies == 4)"
                   tt_pageStyleClass= "NoControls" helpText="4<sup>th</sup> Baby: 1<sup>st</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

            <input type="text" name="summary" id="apgar_five_four"
                   tt_onLoad="__$('keyboard').style.display = 'none';showApgarControl(5,'five');showCategory2('Current delivery');" condition="(numberOfBabies == 4)"
                   tt_pageStyleClass= "NoControls" helpText="4<sup>th</sup> Baby: 5<sup>th</sup> Minute APGAR" optional="true" absoluteMin="0" absoluteMax="10"/>

            <!-- Apgar ends -->
            <select id="place_delivery" name="place_delivery" helpText="Place of delivery" tt_onUnLoad="showCategory2('Current delivery');">
                <option></option>
                <option>This facility</option>
                <option>In transit/BBA</option>
                <option>Other facility</option>
                <option>Home/TBA</option>
            </select>

            <input type="text" name="health_facility" objectType="location"
                   id="health_facility" field_type="alpha"
                   key="health_facility" helpText="Specify Health Facility"
                   ajaxURL="/locations?name="
                   key="health_facility" allowFreeText="true"
                   condition = "$('place_delivery').value == 'Other facility'" tt_onLoad="changeSubmitFunction();showCategory2('Current delivery');" />

            <select id="birth_attended_by" name="birth_attended_by" tt_onLoad="changeSubmitFunction();showCategory2('Current delivery');" helpText="Birth attended by"
            >
                <option></option>
                <option>Self</option>
                <option>TBA</option>
                <option>Other</option>
            </select>

        </form>

    </div>
</div>
</body>
<script>
    var baby;
    var numberOfBabies;
    var apgar_first_minute;
    var apgar_fifth_minute;

    function assignNumberOfBabies() {
        numberOfBabies = sessionStorage.getItem('numberOfBabies');
    }

    function timeOperations(id){
        switch(id){
            case 'hour_plus':
                var value = parseInt(__$("hour").value);
                var v = value + 1;
                if(v<10){
                    __$("hour").value = "0"+v;
                }else{
                    __$("hour").value = value + 1;
                }
                _
                break;
            case 'hour_minus':
                var value = parseInt(__$("hour").value);
                var v = value - 1;
                if(v < 10){
                    __$("hour").value = "0"+v;}
                else{
                    __$("hour").value = value - 1;
                }
                break;
            case 'minute_plus':
                var value = parseInt(__$("minutes").value);
                var v = value + 1;
                if(v < 10){
                    __$("minutes").value = "0"+v;
                }else{
                    __$("minutes").value = value +1;
                }
                break;
            case 'minute_minus':
                var value = parseInt(__$("minutes").value);
                var v = value - 1;
                if(v <10){
                    __$("minutes").value = "0"+v;
                }else{
                    __$("minutes").value = value - 1;
                }
            case 'seconds_plus':
                var value = parseInt(__$("seconds").value);
                var v = value + 1;
                if(v < 10){
                    __$("seconds").value = "0"+v;
                }else{
                    __$("seconds").value = value + 1;
                }
                break;
            case 'seconds_minus':
                var value = parseInt(__$("seconds").value);
                var v = value - 1;
                if(v < 10){
                    __$("seconds").value = "0"+v;
                }else{
                    __$("seconds").value = value - 1;
                }
            default:
                break;
        }
    }
    function incrementDay(){
        var value = parseInt(__$("dateselector_day").value);
        var v = value + 1;
        if(v<10){
            __$("dateselector_day").value = "0"+v;
        }else{
            __$("dateselector_day").value = value + 1;
        }
    }
    function decrementDay(){
        var value = parseInt(__$("dateselector_day").value);
        var v = value - 1;
        if(v<10){
            __$("dateselector_day").value = "0"+v;
        }else{
            __$("dateselector_day").value = value - 1;
        }
    }
    function incrementYear(){
        var value = parseInt(__$("dateselector_year").value);
        __$("dateselector_year").value = value + 0001;

    }
    var dob_months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

    function decrementYear(){
        var value = parseInt(__$("dateselector_year").value);
        __$("dateselector_year").value = value - 0001;

    }

    function incrementMonth(){
        var value = $("dateselector_month").value;
        var value = $("dateselector_month").value;
        var value_index = dob_months.indexOf(value);
        __$("dateselector_month").value = dob_months[(value_index+1) % dob_months.length];
    }

    function decrementMonth(){
        var value = $("dateselector_month").value;
        var value_index = dob_months.indexOf(value);
        if ((value_index-1) < 0){
            __$("dateselector_month").value = dob_months[(dob_months.length-1) % dob_months.length];
        }else{
            __$("dateselector_month").value = dob_months[(value_index-1) % dob_months.length];
        }


    }
    function saveApgar(apgarScore,minute){
        if(minute == 'one'){
            apgar_first_minute = apgarScore;
        }else{
            apgar_fifth_minute = apgarScore;
        }
    }

</script>