

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>

<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<link rel="stylesheet" href="/apps/MATERNITY/assets/css/current_delivery.css" type="text/css"/>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap/bootstrap.min.js"></script>

<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/apps/MATERNITY/assets/js/current_delivery.js"></script>
<style>

    .inputFrameClass {
        width: 96% !important;
    }

    .dateselector{
        min-height: 0px;
    }

    #timeselector{
        min-height: 0px;
    }

</style>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "/views/patient_dashboard.html?patient_id=" + patientID;
</script>
<style>

.time_btn{
  width:100px;
}
.time_input{
  width:100px;
}
</style>
<body id="mateme">
<div id="container">
    <div id="content">
        <form id="has_dynamic_fields">

            <input id="number_babies" optional="true"
                helpText="Number of Babies Born"
                tt_onLoad="loadSelections(); jQuery('.dcimg').click(); showCategory2('Current delivery');" 
                name="number_babies"
              />

              <input name="baby_details" type="text"
              id="input_page" helptext="Baby details" 
              tt_onLoad="jQuery('#clearButton').css('display', 'none');parsedConceptName = ''; 
              loadInputWindow(); showCategory2('Current delivery'); "
              optional="true" />

        
            <select id="place_delivery" name="place_delivery" helpText="Place of delivery" tt_onUnLoad="checkDeliveryPlace();">
                <option></option>
                <option>This facility</option>
                <option>In transit</option>
                <option>Other facility</option>
                <option>Home/TBA</option>
            </select>

            <input type="text" name="health_facility" objectType="location"
                   id="health_facility" field_type="alpha"
                   key="health_facility" helpText="Specify Health Facility"
                   ajaxURL="/locations?name="
                   key="health_facility" allowFreeText="true"
                   condition = "$('place_delivery').value == 'Other facility'" tt_onLoad="changeSubmitFunction();" />

            <select id="birth_attended_by" name="birth_attended_by" tt_onLoad="changeSubmitFunction();" helpText="Birth attended by" condition = "($('place_delivery').value == 'Home/TBA' || $('place_delivery').value == 'In transit' )">
                <option></option>
                <option>Self</option>
                <option>TBA</option>
                <option>Other</option>
            </select>

        </form>

    </div>
</div>
</body>
<script>
    function checkDeliveryPlace() {
        if ($('place_delivery').value.toUpperCase() == 'THIS FACILITY') {
            submitCurrentDeliveryEncounter();
        }
    }
 function timeOperations(id){
        switch(id){
          case 'hour_plus':
              var value = parseInt(__$("hour").value);
                var v = value + 1;
                if(v<10){
              __$("hour").value = "0"+v;
                }else{
                    __$("hour").value = value + 1; 
                }
              _
          break;
          case 'hour_minus':
              var value = parseInt(__$("hour").value);
              var v = value - 1;
              if(v < 10){
              __$("hour").value = "0"+v;}
              else{
                __$("hour").value = value - 1;
              }
          break;
          case 'minute_plus':
            var value = parseInt(__$("minutes").value);
            var v = value + 1;
            if(v < 10){
              __$("minutes").value = "0"+v;
            }else{
                __$("minutes").value = value +1;
            }
          break;
          case 'minute_minus':
            var value = parseInt(__$("minutes").value);
            var v = value - 1;
            if(v <10){
              __$("minutes").value = "0"+v;
            }else{
                __$("minutes").value = value - 1;
            }
          case 'seconds_plus':
              var value = parseInt(__$("seconds").value);
              var v = value + 1;
              if(v < 10){
              __$("seconds").value = "0"+v;
              }else{
                __$("seconds").value = value + 1;
              }
          break;
          case 'seconds_minus':
              var value = parseInt(__$("seconds").value);
              var v = value - 1;
              if(v < 10){
              __$("seconds").value = "0"+v;
              }else{
                __$("seconds").value = value - 1;
              }
          default:
            break;
        }
    }
function incrementDay(){
  var value = parseInt(__$("dateselector_day").value);
  var v = value + 1;
  if(v<10){
        __$("dateselector_day").value = "0"+v;
      }else{
        __$("dateselector_day").value = value + 1; 
      }
}
function decrementDay(){
  var value = parseInt(__$("dateselector_day").value);
  var v = value - 1;
  if(v<10){
        __$("dateselector_day").value = "0"+v;
      }else{
        __$("dateselector_day").value = value - 1; 
      }
}
function incrementYear(){
  var value = parseInt(__$("dateselector_year").value);
  __$("dateselector_year").value = value + 0001; 

}
var dob_months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

function decrementYear(){
  var value = parseInt(__$("dateselector_year").value);
  __$("dateselector_year").value = value - 0001; 
      
}

function incrementMonth(){
  var value = $("dateselector_month").value;
  var value = $("dateselector_month").value;
  var value_index = dob_months.indexOf(value);
  __$("dateselector_month").value = dob_months[(value_index+1) % dob_months.length];
}

function decrementMonth(){
  var value = $("dateselector_month").value;
  var value_index = dob_months.indexOf(value);
  if ((value_index-1) < 0){
    __$("dateselector_month").value = dob_months[(dob_months.length-1) % dob_months.length];
  }else{
    __$("dateselector_month").value = dob_months[(value_index-1) % dob_months.length];
  }
  

}
  
</script>