
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}

#clearButton {
  display: none;
}

</style>

<script>
var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
</script>
<body id="mateme">
  <div id="container">
    <div id="content">


      <form>
    
     <input type="text" name="gravida" id="gravida" helpText="Gravida" max="15" field_type="number" tt_pageStyleClass="Numeric NumbersOnly" />

     <select id="multiple_pregnancy" name="multiple_pregnancy"  helpText="Ever had multiple pregnancies">   
            <option>Yes</option>
            <option>No</option>
      </select>

      <input type="text" name="num_of_deliveries" id="num_of_deliveries" helpText="Number of deliveries" field_type="number" tt_pageStyleClass="Numeric NumbersOnly" />
      
      <input type="text" name="num_of_abortions" id="num_of_abortions" helpText="Number of abortions" field_type="number"  tt_pageStyleClass="Numeric NumbersOnly" />
     
      <select id="delivery_mode" name="delivery_mode" tt_onLoad="changeNextBTN();" helpText="Select Delivery Mode"> 
            <option>Spontaneous Delivery</option>
            <option>Caesarean Section</option>
            <option>Breech Delivery</option>
      </select>

      <input type="text" name="ttv_status" id="ttv_status" helpText="TTV Status" field_type="number" tt_pageStyleClass="Numeric NumbersOnly" />
     
      <input type="text" name="menstruation_date" 
        id="menstruation_date" field_type="date" 
          helpText="Last Menstruation Date"  
          tt_pageStyleClass="date"  allowFreeText="true" tt_onLoad="changeNextButton();"
          condition="$(&quot;menstruation_date&quot;).value == &quot;&quot;" /> 
      </form>

   </div>
 </div>
</body>


<script>
  function changeNextButton() {
      var nextButton =  document.getElementById('nextButton');
      nextButton.setAttribute("onmousedown","postPatientHistory();")
  }

  function postPatientHistory() {
      var currentTime = moment().format(' HH:mm:ss');
      var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
      encounter_datetime += currentTime;

      var encounter = {
            encounter_type_name: 'MEDICAL HISTORY',
            encounter_type_id:  30,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
      };

      submitParameters(encounter, "/encounters", "postPatientHistoryObs");
  }

  function postPatientHistoryObs(encounter) {

      var gravida = document.getElementById('gravida').value;
      var multiple_pregnancy = document.getElementById('multiple_pregnancy').value;
      var num_of_deliveries = document.getElementById('num_of_deliveries').value;
      var num_of_abortions = document.getElementById('num_of_abortions').value;
      var delivery_mode = document.getElementById('delivery_mode').value;
      var ttv_status = document.getElementById('ttv_status').value;
      var menstruation_date = document.getElementById('menstruation_date');

      YesNoConcepts = {};
      YesNoConcepts["Yes"] = 1065;
      YesNoConcepts["No"] = 1066;

      var conceptAnswers = [
  
          /*Multiple pregnancies*/
          {
              "yes": 1065,
              "no": 1066
          },
           /*Delivery mode*/
          {
            "spontaneous": 1170,
            "caesarean": 1171,
            "breech": 1172
          }
      ];

      var multiplePregnancyAnswer;
      var deliveryModeAnswer;

      switch (multiple_pregnancy.toUpperCase()) {
          case 'YES':
              multiplePregnancyAnswer = conceptAnswers[0].yes;
              break;
          case 'NO':
              multiplePregnancyAnswer = conceptAnswers[0].no;
              break;
          default:
              break;
      }
      switch (delivery_mode.toUpperCase()) {
          case 'SPONTANEOUS DELIVERY':
            deliveryModeAnswer = conceptAnswers[1].spontaneous;
              break;
          case 'CAESAREAN SECTION':
            deliveryModeAnswer = conceptAnswers[1].caesarean;
              break;
          case 'BREECH DELIVERY':
            deliveryModeAnswer = conceptAnswers[1].breech;
              break;
          default:
              break;
      }
      var obs = {
          encounter_id: encounter["encounter_id"],
          observations: [
              { concept_id: 7142, value_coded: multiplePregnancyAnswer }, // saving
              { concept_id: 1755, value_text: gravida },
              { concept_id: 1053, value_numeric: num_of_deliveries },
              { concept_id: 7942, value_numeric: num_of_abortions }, // saving
              { concept_id: 7438, value_coded: deliveryModeAnswer },
              { concept_id: 7124, value_numeric: ttv_status },
             { concept_id: 9206, value_datetime: menstruation_date }
          ]
      };

      submitParameters(obs, "/observations", "nextPage")
  }

  function nextPage(){
      nextEncounter(sessionStorage.patientID, sessionStorage.programID);
  }
</script>
