
<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<!--script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/standard.js" defer="true"></script-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>

<script type="text/javascript" src="/assets/js/yes_no_ctrls.js"></script>
<link rel="stylesheet" href="/assets/css/yes_no_ctrls.css" type="text/css">
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>

<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">

<style>

.inputFrameClass {
  width: 96% !important;
}

#clearButton {
  display: none;
}

</style>
<script>
  var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
</script>

<body id="mateme">
  <div id="container">
    <div id="content">


         <form>
          <input type="text" name="fundus" id="fundus" helpText="Fundus (weeks)" field_type="number" tt_onLoad="" tt_pageStyleClass="Numeric NumbersOnly" absoluteMax = "45" />
          
          <select id="lie" name="lie" tt_onLoad="changeNextBTN();" helpText="Lie" condition ="__$('fundus').value != 'N/A'"> 
            <option>Longitudinal</option>
            <option>Transverse</option>
            <option>Oblique</option>
            <option>Undefined</option>
          </select>

           <input type="text" name="presentation" 
          id="presentation" field_type="alpha" 
          key="presentation" helpText="Presentation"  
          ajaxURL="/search/given_name?search_string=" 
          key=presentation" allowFreeText="true" 
          condition ="__$('fundus').value != 'N/A'" /> 

          <select id="position" name="position" tt_onLoad="changeNextBTN();" helpText="Position" condition ="__$('fundus').value != 'N/A'" > 
            <option>Vertex</option>
            <option>Breech</option>
            <option>Face</option>
            <option>Shoulder</option>
           </select>

           <select id="vertex" name="vertex" tt_onLoad="changeNextBTN();" helpText="Cephalic Position Type" condition = "$('position').value.trim().toUpperCase() == 'VERTEX' && __$('fundus').value != 'N/A'" > 
            <option>Left Occipito Anterior</option>
            <option>Left Occipito Transverse</option>
            <option>Right Occipito Anterior</option>
            <option>Right Occipito Transverse</option>
            <option>Right Occipito Posterior</option>
           </select>

          <select id="breech" name="breech" tt_onLoad="changeNextBTN();" helpText="Breech Position Type" condition ="$('position').value.trim().toUpperCase() == 'BREECH' && __$('fundus').value != 'N/A';" > 
            <option>Left Sacro Anterior</option>
            <option>Left Sacro Transverse</option>
            <option>Left Sacro Posterior</option>
            <option>Right Sacro Anterior</option>
            <option>Right Sacro Transverse</option>
            <option>Right Sacro Posterior</option>
           </select>

           <select id="face" name="face" tt_onLoad="changeNextBTN();" helpText="Face Position Type" condition ="$('position').value.trim().toUpperCase() == 'FACE' && __$('fundus').value != 'N/A';" > 
            <option>Left Mento Anterior</option>
            <option>Left Mento Transverse</option>
            <option>Left Mento Posterior</option>
            <option>Right Mento Anterior</option>
            <option>Right Mento Transverse</option>
            <option>Right Mento Posterior</option>
           </select>

          <select id="shoulder" name="shoulder" tt_onLoad="changeNextBTN();" helpText="Shoulder Position Type" condition = "$('position').value.trim().toUpperCase() == 'SHOULDER' && __$('fundus').value != 'N/A';" > 
            <option>Left Acromion Dorsal Anterior</option>
            <option>Left Acromion Dorsal Posterior</option>
            <option>Right Acromion Dorsal Anterior</option>
            <option>Right Acromion Dorsal Posterio</option>
           </select>

          <select id="contractions" name="contraction" tt_onLoad="changeNextBTN();" helpText="Contractions" condition = "__$('fundus').value != 'N/A'"> 
            <option>Yes</option>
            <option>No</option>
           </select>

           <select id="contraction_intensity" name="contraction_intensity" tt_onLoad="changeNextBTN();" helpText="Contraction Intensity" condition ="__$('contractions').value.trim().toUpperCase() != 'NO' && __$('fundus').value != 'N/A';" > 
            <option>Mild</option>
            <option>Moderate</option>
            <option>Strong</option>
             <option>Niggling</option>
           </select>


          <input type="text" name="contractions_level" id="contractions_level" helpText="Contraction Frequency" field_type="number" tt_onLoad="" 
          tt_pageStyleClass="Numeric NumbersOnly" condition = "$('contractions').value.trim().toUpperCase() == 'YES' &&
          && __$('fundus').value != 'N/A' && __$('contractions_intensity').value != 'Niggling';" absoluteMax = "5" absoluteMin = "1" />

          <input type="text" name="station" 
          id="station" field_type="alpha" 
          key="station" helpText="Station"  
          allowFreeText="true" 
          condition="$(&quot;station&quot;).value == &quot;&quot;" /> 

          <select id="moulding" name="moulding" tt_onLoad="changeNextBTN();" helpText="Moulding"> 
            <option>0</option>
            <option>1+</option>
            <option>2+</option>
            <option>3+</option>
            <option>N/A</option>
          </select>
        
          <select id="membranes" name="membranes" tt_onLoad="changeNextBTN();" helpText="Membranes"> 
          <option>Intact</option>
          <option>Raptured</option>
          </select>

          <select id="descent" name="descent" tt_onLoad="changeNextButton();"  helpText="Descent" condition = "__$('fundus').value != 'N/A'"tt_onLoad="changeNextButton();">
          <option>N/A</option>
          <option>5/5</option>
          <option>4/5</option>
          <option>3/5</option>
          <option>2/5</option>
          <option>1/5</option>
          <option>0/5</option>
          </select>

     
      </form>

   </div>
 </div>
</body>


  
  <script>
    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postPhysicalExam();")
    }
  
    function postPhysicalExam() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;
  
        var encounter = {
            encounter_type_name: 'PHYSICAL EXAMINATION',
            encounter_type_id:  103,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

  
        submitParameters(encounter, "/encounters", "postPhysicalExamObs");
    }
  
    function postPhysicalExamObs(encounter) {
  
        var fundus = document.getElementById('fundus').value;
        var lie = document.getElementById('lie').value;
        var presentation = document.getElementById('presentation').value;
        var position = document.getElementById('position').value;
        var vertex = document.getElementById('vertex').value;
        var breech = document.getElementById('breech').value;
        var face = document.getElementById('face');
        var shoulder = document.getElementById('shoulder');
        var contraction = document.getElementById('contractions');
        var contractions_intensity = document.getElementById('contractions_intensity');
        var station = document.getElementById('station');
        var moulding = document.getElementById('moulding');
        var membranes = document.getElementById('membranes');
        var descent = document.getElementById('descent');
        var contractions_level =  document.getElementById('contractions_level');
      
        var conceptAnswers = [
    
            /*Lie*/
            {
               // "longitudinal": 1065,
                "transverse": 7147,
                "oblique": 7885,
                "undefined": 8805
            },
            /*Position */
            {
              "vertex": 7895,
              "breech": 9426,
              "face": 7887,
              "shoulder": 7915,
              },
            /* Vertex */
            {
              "left_occipito_anterior": 7889,
              "left_occipito_transverse": 7891,
              "right_occipito_anterior": 7892,
              "right_occipito_transverse": 7894,
              "right_occipito_posterior": 7893,
            },
            /* breech */
            {
                "left_sacro_anterio": 7896,
                "left_sacro_transverse": 7901,
                "left_sacro_posterior": 7900,
                "right_sacro_anterior": 7897,
                "right_sacro_transverse": 7899,
                "right_sacro_posterior": 7898
            },
            /* face */
            {
                "left_mento_anterior": 7902,
                "left_mento_transverse": 7904,
                "left_mento_posterior": 7903,
                "right_mento_anterior": 7905,
                "right_mento_transverse": 7907,
                "right_mento_posterior": 7906
            },
                /*Contractions*/
            {
                "yes": 1065,
                "no": 1066
            },
            /* Contraction intensity */
            {
                "mild": 1901,
                "moderate": 1900,
                "strong": 1409,
                "niggling": 9700
            },
            /* Moulding */
           {
                "zero": 1101,
                "one_plus": 7129,
                "two_plus": 7130,
                "three_plus": 7131,
                "na": 1175
            },
                 /* Contraction intensity */
                 {
                "intact": 9707,
                "raptured": 8653,
            },
            /* descent */
           {
                "na": 1175,
                "five_over_five": 9711,
                "four_over_five": 9712,
                "three_over_five": 9713,
                "two_over_five": 9714,
                "one_over_five":9715,
                "zero_over_five":9716
            },

        ];
  
        var lieAnswer;
        var positionAnswer;
        var vertexAnswer;
        var breechAnswer;
        var shoulderAnswer;
        var contractionsAnswer;
        var contractionsIntensityAnswers;
        var mouldingAnswer;
        var membranesAnswer;
        var descentAnswer;
        switch (lie.toUpperCase()) {
            case 'TRANSVERSE':
                lieAnswer = conceptAnswers[0].transverse;
                break;
            case 'LONGITUDINAL':
                lieAnswer = conceptAnswers[0].longitudinal;
                break;
            case 'OBLIQUE':
            lieAnswer = conceptAnswers[0].oblique;
            break;
            case 'UNDEFINED':
            lieAnswer = conceptAnswers[0].undefined;
            break;
            default:
                break;
        }
        switch (position.toUpperCase()) {
            case 'VERTEX':
              positionAnswer = conceptAnswers[1].vertex;
                break;
            case 'BREECH':
              positionAnswer = conceptAnswers[1].breech;
                break;
            case 'FACE':
              positionAnswer = conceptAnswers[1].face;
                break;
            case 'SHOULDER':
              positionAnswer = conceptAnswers[1].shoulder;
            break;
            default:
                break;
        }
        switch (vertex.toUpperCase()) {
            case 'LEFT OCCIPITO ANTERIOR':
              vertexAnswer = conceptAnswers[2].left_occipito_anterior;
                break;
            case 'LEFT OCCIPITO TRANSVERSE':
              vertexAnswer = conceptAnswers[2].left_occipito_transverse;
                break;
            case 'RIGHT OCCIPITO ANTERIOR':
              vertexAnswer = conceptAnswers[2].right_occipito_anterior;
                break;
            case 'RIGHT OCCIPITO TRANSVERSE':
              vertexAnswer = conceptAnswers[2].right_occipito_transverse;
            case 'RIGHT OCCIPITO POSTERIOR':
              vertexAnswer = conceptAnswers[2].right_occipito_posterior;
            break;
            default:
                break;
        }
        switch (breech.toUpperCase()) {
            case 'LEFT SACRO ANTERIOR':
              breechAnswer = conceptAnswers[3].left_sacro_anterio;
                break;
            case 'LEFT SACRO TRANSVERSE':
              breechAnswer = conceptAnswers[3].left_sacro_transverse;
                break;
            case 'LEFT SACRO POSTERIOR':
              breechAnswer = conceptAnswers[3].left_sacro_posterior;
                break;
            case 'RIGHT SACRO ANTERIOR':
              breechAnswer = conceptAnswers[3].right_sacro_anterior;
            case 'RIGHT SACRO TRANSVERSE':
              breechAnswer = conceptAnswers[3].right_sacro_transverse;
            case 'RIGHT SACRO POSTERIOR':
              breechAnswer = conceptAnswers[3].right_sacro_posterior;       
            break;
            default:
                break;
        }
        switch (shoulder.toUpperCase()) {
            case 'LEFT MENTO ANTERIOR':
              shoulderAnswer = conceptAnswers[4].left_mento_anterior;
                break;
            case 'LEFT MENTO TRANSVERSE':
             shoulderAnswer = conceptAnswers[4].left_mento_transverse;
                break;
            case 'LEFT MENTO POSTERIOR':
             shoulderAnswer = conceptAnswers[4].left_mento_posterior;
                break;
            case 'RIGHT MENTO ANTERIOR':
              shoulderAnswer = conceptAnswers[4].right_mento_anterior;
            case 'RIGHT MENTO TRANSVERSE':
              shoulderAnswer = conceptAnswers[4].right_mento_transverse;
            case 'RIGHT MENTO POSTERIOR':
              shoulderAnswer = conceptAnswers[4].right_mento_posterior;       
            break;
            default:
                break;
        }
        switch (contractions.toUpperCase()) {
          case 'YES':
             contractionsAnswer = conceptAnswers[5].yes;
              break;
          case 'NO':
             contractionsAnswer = conceptAnswers[5].no;
              break;
          default:
              break;
         }
         switch (niggling.toUpperCase()) {
          case 'MILD':
             contractionsIntensityAnswers = conceptAnswers[6].mild;
              break;
          case 'MODERATE':
             contractionsIntensityAnswers = conceptAnswers[6].moderate;
              break;
          case 'STRONG':
             contractionsIntensityAnswers = conceptAnswers[6].strong;
          break;
          case 'NIGGLING':
             contractionsIntensityAnswers = conceptAnswers[6].niggling;
          break;
          default:
              break;
         }
         switch (moulding) {
          case '0':
             mouldingAnswer = conceptAnswers[7].zero;
              break;
          case '1+':
             moulding = conceptAnswers[7].one_plus;
              break;
          case '2+':
             mouldingAnswer = conceptAnswers[7].two_plus;
          break;
          case '3+':
             mouldingAnswer = conceptAnswers[7].three-plus;
          break;
          case 'N/A':
             mouldingAnswer = conceptAnswers[7].na;
          break;
          default:
              break;
         }
         switch (membranes.toUpperCase()) {
          case 'INTACT':
             membranesAnswer = conceptAnswers[8].intact;
              break;
          case 'RAPTURED':
             contractionsAnswer = conceptAnswers[8].raptured;
              break;
          default:
              break;
         }
         switch (descent) {
          case 'N/A':
            descentAnswer = conceptAnswers[9].intact;
              break;
          case '5/5':
           descentAnswer = conceptAnswers[9].raptured;
              break;
         case '4/5':
          descentAnswer = conceptAnswers[9].raptured;
              break;
         case '3/5':
           descentAnswer = conceptAnswers[9].raptured;
              break;
         case '2/5':
           descentAnswer = conceptAnswers[9].raptured;
              break;
        case '1/5':
          descentAnswer = conceptAnswers[9].raptured;
              break;
        case '0/5':
         descentAnswer = conceptAnswers[9].raptured;
              break;
          default:
              break;
         }
        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 7835, value_numeric: fundus }, 
                { concept_id: 7836, value_coded: lieAnswer },
                { concept_id: 7837, value_coded: positionAnswer },
                { concept_id: 7895, value_coded: vertexAnswer },
                { concept_id: 9425, value_coded: breechAnswer },
                { concept_id: 7915, value_coded: shoulderAnswer },
                { concept_id: 7838, value_coded: contractionsAnswer },
                { concept_id: 7929, value_coded: contractionsIntensityAnswers },
                { concept_id: 7943, value_text: contractions_level },
                { concept_id: 7842, value_text: station },
                { concept_id: 7845, value_coded: membranesAnswer },
                { concept_id: 7840, value_coded: descentAnswer }
            ]
        };
  
        submitParameters(obs, "/observations", "nextPage")
    }
  
    function nextPage(){
        nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }
  </script>