<script type="text/javascript" src="/public/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer="true"></script>
<script type="text/javascript" src="/assets/js/post_parameters.js"></script>
<script type="text/javascript" src="/assets/js/generic_ajaxrequest.js"></script>
<script type="text/javascript" src="/assets/js/alertifyjs/alertify.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/does_connection_exist.js"></script>
<link rel="stylesheet" href="/assets/css/alertifyjs/css/alertify.css" type="text/css">
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<style>

.inputFrameClass {
  width: 96% !important;
}

#clearButton {
  display: none;
}

</style>

<body id="mateme">
  <div id="container">
    <div id="content">

      <form>
        <select id="education" name="education" tt_onLoad="changeNextBTN();" helpText="Education Level">
            <option>Primary</option>
            <option>Secondary</option>
            <option>Tertiary</option>
            <option>None</option>
            <option>Other</option>
        </select>
          
         <input type="text" name="religion" 
          id="religion" field_type="alpha" 
          helpText="Religion" 
          ajaxURL="/search/?search_string=" 
          allowFreeText="true" 
          tt_pageStyleClass="text"
         /> 


        <input type="text" name="other_religion" id="other_religion" field_type="alpha"  tt_onLoad='otherReligion();' helpText="Specify other religion" key="family_name" allowFreeText="true" condition ="__$('religion').value == 'Other'" />

         <input type="text" name="kin_first"
          id="kin_first" field_type="alpha" 
          key="kin_first" helpText="Next of kin first name"
                ajaxURL="/search/given_name?search_string=" allowFreeText="true" />

          <input type="text" name="kin_last" 
          id="kin_last" field_type="alpha" 
          helpText="Next of kin Last name"
                 ajaxURL="/search/family_name?search_string="
          allowFreeText="true"  />

          <input type="text" name="kin_number" id="kin_number" 
          helpText="Next of kin phone number" field_type="number" tt_pageStyleClass="NumbersWithUnknownAndDecimal" />

        <select id="relative" name="relative" tt_onLoad="changeNextButton();" helpText="Next of kin relationship">
          <option>Mother</option>
          <option>Daughter</option>
          <option>Sister</option>
          <option>Friend</option>
          <option>Aunt</option>
          <option>Unknown</option>
           <option>Other</option>
         </select>

      </form>

   </div>
 </div>
</body>

<script>
    var patientID = sessionStorage.getItem("patientID");
    var tstCurrentDate = moment(tstCurrentDate).format("YYYY-MM-DD");
    var tt_cancel_destination = "../antenatal.html?patient_id=" + patientID;

    function changeNextButton() {
        var nextButton =  document.getElementById('nextButton');
        nextButton.setAttribute("onmousedown","postSocialHistory();")
    }

    function postSocialHistory() {
        var currentTime = moment().format(' HH:mm:ss');
        var encounter_datetime = moment(sessionStorage.sessionDate).format('YYYY-MM-DD');
        encounter_datetime += currentTime;

        var encounter = {
            encounter_type_name: 'SOCIAL HISTORY',
            encounter_type_id:  84,
            patient_id: sessionStorage.patientID,
            encounter_datetime: encounter_datetime
        };

        submitParameters(encounter, "/encounters", "postSocialHistoryObs");
    }

    function postSocialHistoryObs(encounter) {

        var educationLevel = document.getElementById('education').value;
        var religion = document.getElementById('religion').value;
        var kinNumber = document.getElementById('kin_number').value;
        var relative = document.getElementById('relative').value;
        var nextOfKinFirstName = document.getElementById('kin_first').value;
        var nextOfKinLastName = document.getElementById('touchscreenInput' + tstCurrentPage).value;

        var conceptAnswers = [
            /*Education Level*/
            {
                "primaryEducation": 8697,
                "secondaryEducation": 8698,
                "tertiaryEducation": 8699,
                "none": 1107,
                "other": 6408
            },
            /*Relative*/
            {
                "mother": 2175,
                // "daughter", missing
                //aunt missing
                "friend": 5618,
                "sister": 2177,
                "unknown": 1067,
                "other": 6408
            }
        ];

        var educationLevelAnswer;
        var relativeAnswer;

        switch (educationLevel.toUpperCase()) {
            case 'PRIMARY':
                educationLevelAnswer = conceptAnswers[0].primaryEducation;
                break;
            case 'SECONDARY':
                educationLevelAnswer = conceptAnswers[0].secondaryEducation;
                break;
            case 'TERTIARY':
                educationLevelAnswer = conceptAnswers[0].tertiaryEducation;
                break;
            case 'NONE':
                educationLevelAnswer = conceptAnswers[0].none;
                break;
            case 'OTHER':
                educationLevelAnswer = conceptAnswers[0].other;
                break;
            default:
                break;
        }
        switch (relative.toUpperCase()) {
            case 'MOTHER':
                relativeAnswer = conceptAnswers[1].mother;
                break;
            case 'SISTER':
                relativeAnswer = conceptAnswers[1].sister;
                break;
            case 'AUNT':
                relativeAnswer = conceptAnswers[1].aunt;
                break;
            case 'FRIEND':
                relativeAnswer = conceptAnswers[1].friend;
                break;
            case 'OTHER':
                relativeAnswer = conceptAnswers[1].other;
                break;
            case 'UNKNOWN':
                relativeAnswer = conceptAnswers[1].unknown;
                break;
            default:
                break;
        }
        var obs = {
            encounter_id: encounter["encounter_id"],
            observations: [
                { concept_id: 8696, value_coded: educationLevelAnswer }, // saving
                { concept_id: 8366, value_text: religion },
                { concept_id: 2616, value_numeric: kinNumber },
                { concept_id: 2172, value_coded: relativeAnswer }, // saving
                { concept_id: 2927, value_text: nextOfKinFirstName },
                { concept_id: 2928, value_text: nextOfKinLastName }
            ]
        };

        submitParameters(obs, "/observations", "nextPage")
    }

    function nextPage(){
        nextEncounter(sessionStorage.patientID, sessionStorage.programID);
    }
</script>

